# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Flask session files
instance/
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# VSCode config (optional)
.vscode/

# Environment variables (if using .env)
.env
